# 除外ディレクトリ
# コンパイル後のバイナリ
generated/*
generated/src/*
generated/configs/*
# ユーザー設定
user/*

# 除外からの除外
!generated/.gitkeep
!generated/src/.gitkeep
!generated/configs/.gitkeep
!user/run.bat
!user/README.md